.accountsetupmain{
    /* border: 1px solid red; */
}



.Adminname{
       /* border: 1px solid red; */
}
.AdminnameP{
color: #484848;
}

.AdminnameInput{
    width: 100%;
    height: 40px;
    border: 1px solid #0000001A;
    border-radius: 10px;
}
.adminaccountsecond{
display: flex;
gap: 20px;

}
.adminaccountsecond div{
 flex: 1;
}

.AdminmailInput{
width: 100%;
height: 40px;
    border: 1px solid #0000001A;
    border-radius: 10px;
}

.AdmincontactInput{
width: 100%;
height: 40px;
    border: 1px solid #0000001A;
    border-radius: 10px;
}

.adminaccountbtn{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}
.adminaccountbtn1{
    border:  1px solid #30333D;
    height: 44px;
    width: 100px;
    background-color: white;
    border-radius: 10px;

}

.adminaccountbtn2{
    border:  1px solid #30333D;
    height: 44px;
    width: 170px;
     background-color: white;
    border-radius: 10px;
}