.main{
    width: 1280px;
    /* border: 1px solid red; */
}
.CompanySetupH1{
     font-size: 30px;
        /* border: 1px solid red;   */
        width: 100%;
}
.CompanySetupP{

font-size: 22px;
  width: 100%;
}
.Companyname{
     /* border: 1px solid red;    */
     /* width: 100%; */
}
.CompanynameP{
    font-size: 15px;
    color: #000000; 
}
.CompanynameInput{
width: 100%;
border: 1px solid #0000001A ;
border-radius: 10px;
height: 40px;


}
.Companysetupsecondinp{
     /* border: 1px solid red;   */
     display: flex ;
     width: 100%;
        gap: 20px;

}

.Companysetupsecondinp > div {
    flex: 1; 
}
.SlugInput{
width: 100%;
border: 1px solid #0000001A ;
border-radius: 10px;
height: 40px;
}
.CountryInput{
width: 100%;
border: 1px solid #0000001A ;
border-radius: 10px;
height: 40px;
}
.CompanysetupthirddInp{
         display: flex;
          /* border: 2px solid red;  */
           gap: 20px; 

}
.CompanysetupthirddInp > div {
    flex: 1; 
}

.TimeInput{
    width: 100%;
border: 1px solid #0000001A ;
border-radius: 10px;
height: 40px;
}
.CurrencyInput{
width: 100%;
border: 1px solid #0000001A ;
border-radius: 10px;
height: 40px;
}

.companySetbtnclass{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.cancelbtn{
  border:  1px solid #30333D;
  border-radius: 9px;
  background-color: white;
  Width:100px;

Height:40px
}
.continuebtn{

  border:  1px solid #30333D;
  border-radius: 9px;
    background-color: white;
      Width:150px;

Height:40px
}