.WorkSpaceSetupmain{
    /* border:  1px  solid red; */
    width: 1280px;
}

.WorkSpaceSetupTrial{
    width: 100%;
height: 40px;
    border: 1px solid #0000001A;

}

.WorkSpaceSetupwhitelevel{
width: 100%;
height: 40px;
    border: 1px solid #0000001A;
    margin-top: 15px;
}
.WorkSpaceSetupInputmain{
    display: flex;
    width: 100%;
    gap: 20px;
}

.WorkSpaceSetupInputmain div{
    flex: 1;
}
.employeelistInput{
width: 100%;
height: 40px;
    border: 1px solid #0000001A;
    border-radius: 10px;
}
.TrialanddateInput{
width: 100%;
height: 40px;
    border: 1px solid #0000001A;
    border-radius: 10px;
    
}
.PartnerresellerInput{
  width: 100%;
height: 40px;
    border: 1px solid #0000001A;
    border-radius: 10px;
}
.WorkSpaceSetbtn{
    display: flex;
    justify-content: space-between;
       margin-top: 30px;
}
.WorkSpaceSetbtn1{
     border:  1px solid #30333D;
    height: 44px;
    width: 100px;
    background-color: white;
    border-radius: 10px;
    
}
.WorkSpaceSetbtn2{
 border:  1px solid #30333D;
    height: 44px;
    width: 170px;
     background-color: white;
    border-radius: 10px;
}
